body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
    }
  
.container {
    max-width: 500px;
    text: var(--tg-theme-text-color);
    }
  
.inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    }
  
.img {
    width: 150px;
    }
  
.item {
    text-align: center;
    text_color: var(--tg-theme-text-color);
    }
  
.btn {
    display: inline-blok;
    padding: 30px 80px;
    border: None;
    background: RGB(248, 168,24);
    border-radius: 10px;
    button_text_color: var(--tg-theme-button-text-color);
    button_color: var(--tg-theme-button-color);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    }
    
