viewport = {
    viewportHeight: var(--tg-viewport-height);
    }

theme {
    colorScheme: var(--tg-color-scheme);
    }

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text_color: var(--tg-theme-text-color);
    bg_color: var(--tg-theme-bg-color);
    }
  
.container {
    max-width: 390px;
    }
  
.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    }
  
.img {
    width: 150px;
    }
  
.item {
    text-align: center;
    text_color: var(--tg-theme-text-color);
    }
  
.btn {
    display: inline-blok;
    padding: 30px 100px;
    border: None;
    background: RGB(248, 168,24);
    border-radius: 10px;
    button_text_color: var(--tg-theme-button-text-color);
    button_color: var(--tg-theme-button-color);
    text-transform: uppercase;
    font-weight: 700;
    }
    
